body {
  background-color: #0A0908;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc-wrapper {
  background-color: #FAFDF6;
  width: 400px;
  border-radius: 16px;
}

.row {
  display: flex;
}